doctype html
html
    head
        title Duel - Create Game
    body
        h1 #{title}
        form(action="/create", method="POST")
            input(type="text", name="usernameInput", placeholder="Enter your username")
            h4 Select Game:
            ul
                li
                    label(for="cpsGame") CPS Game:
                    input(type="radio" name="selectedGame" value="cpsGame")
                li
                    label(for="rngGame") RNG Game:
                    input(type="radio" name="selectedGame" value="rngGame")
            input(type="submit", value="Create Game")
        script(src="javascripts/create.js")
