doctype html
html
    head
        title Duel
    body
        .container
            h1 #{title}
            form(action="join", method="get")
                input(type="submit" value="Join Game")
            form(action="create", method="get")
                input(type="submit" value="Create Game")
        script(src="/javascripts/index.js")
