doctype html
html
    head
        title Duel
    body
        .container
            h1 Duel.wtf
            form(action="join", method="get")
                input(type="submit" value="Join Room")
            form(action="create", method="get")
                input(type="submit" value="Create Room")
        script(src="/javascripts/index.js")
