doctype html
html
    head
        title Duel
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        .view#mainView
            h1 Duel.wtf
            p Enter your username:
            form#usernameInputForm
                input(type="text", name="usernameInput")#usernameInput
                button(type="submit")#usernameSetButton Set
            br
            button#joinRoomViewButton Join Room
            button#createRoomViewButton Create Room
        .view.hidden#joinRoomView
            h1 Join Room
            #roomJoinForm
                label(for="roomJoinIdInput") Room ID:
                input(type="text", name="roomJoinIdInput", placeholder="nasty-goat-72")#roomJoinIdInput
                button#roomJoinSubmitButton Join Room
        .view.hidden#lobbyRoomView
            h1 ID:
                span#roomIdDisplay
            #gameCreateForm.hidden
                h3 Host Options:
                ul
                    li
                        label(for="cpsGame") CPS Game:
                        input(type="radio" name="selectedGame" value="cpsGame" checked)
                    li
                        label(for="rngGame") RNG Game:
                        input(type="radio" name="selectedGame" value="rngGame")
                button#startGameButton Start Game
            #players
                h3 Player List:
                ul#playerList

        .view.hidden#gameViewContainer
            .gameView.hidden#cpsGameView
                #cpsGameReadyView
                    h1 this is the cps game
                    p click the button as many times as possible in 10 seconds. :)
                    button.readyButton Ready
                .game#cpsGame
            .gameView.hidden#rngGameView
                h1 this is the rng game view
        #chatbox
            #messageWrapper
                ul#chatMessages
            form(action="")#chatMessageForm
                input(type="text", placeholder="Type here")#chatMessageInput
                button#sendChat Send
        button#mainViewButton Main Menu

        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/javascripts/index.js")
