doctype html
html
    head
        title Duel
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        .view#mainView
            h1 Duel.wtf
            label(for="usernameInput") Username:
            input(type="text", name="usernameInput" id="usernameInput", placeholder="Default")
            br
            button(id="joinRoomViewButton") Join Room
            button(id="createRoomViewButton") Create Room
        .view.hidden#joinRoomView
            h1 Join Room
            #roomJoinForm
                label(for="roomJoinIdInput") Room ID:
                input(type="text", name="roomJoinIdInput" id="roomJoinIdInput", placeholder="nasty-goat-72")
                button(id="roomJoinSubmitButton") Join Room
            button.mainViewButton Main Menu
        .view.hidden#lobbyRoomView
            h1 RoomId:
                span#roomIdDisplay
            #gameCreateForm
                p Select Game:
                ul
                    li
                        label(for="cpsGame") CPS Game:
                        input(type="radio" name="selectedGame" value="cpsGame" checked)
                    li
                        label(for="rngGame") RNG Game:
                        input(type="radio" name="selectedGame" value="rngGame")
                button#startGameButton Start Game
            p Player List:
            ul#playerList

            button.mainViewButton Main Menu

        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/javascripts/index.js")
