doctype html
html
    head
        title Fight
        link(rel="stylesheet", href="/stylesheets/veritas.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        block content
