* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
}

h1, h3, p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#chatbox {
    display: inline-block;
    height: 20vh;
    width: 25vw;
    border: 1px solid black;
}

#chatMessages {
    margin: 0;
    padding: 0;
}

#messageWrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin: 0;
    padding: 0;
}

.serverMessage {
    color: gray;
    font-style: italic;
}
