* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
}

h1, h3, p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#mainViewButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

#players {
    position: absolute;
    top: 80vh;
    height: 20vh;
    border: 1px solid black;
    left: 20vw;
    padding: 5px;
}

#chatbox {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    border-right: none;
    bottom: 0;
    height: 20vh;
    width: 20vw;
    left: 0;
}

#chatMessageForm {
    display: inline-block;
    height: 10%;
    width: 100%;
}

#chatMessages {
    margin: 0;
    padding: 0;
}

#messageWrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    height: 90%;
    padding: 0;
}

.serverMessage {
    color: gray;
    font-style: italic;
}
